<form #form="ngForm" (ngSubmit)="onSubmit(form, $event.submitter.id)">
  <!-- <form #form="ngForm" (ngSubmit)="loginWithGoogle(form)"> -->
  <label for="email">Email:</label><br />
  <input
    type="email"
    id="email"
    name="email"
    #inputEmail="ngModel"
    ngModel
    required
  />
  @if (inputEmail.touched) {
  <div>
    @if (inputEmail.errors?.['required']) {
    <p class="input-error">Email is required.</p>
    }
  </div>
  }
  <br />
  <label for="password">Password:</label><br />
  <input
    type="password"
    id="password"
    name="password"
    #inputPassword="ngModel"
    ngModel
    required
  />
  @if (inputPassword.touched) {
  <div>
    @if (inputPassword.errors?.['required']) {
    <p class="input-error">Password is required.</p>
    }
  </div>
  }
  <br /><br />

  <!-- <button class="cancel" routerLink="/home">Cancel</button> -->
  <button
    [disabled]="form.invalid"
    [style]="{
      backgroundColor: form.invalid
        ? 'var(--button-disabled-color)'
        : 'var(--button-active-color)'
    }"
    id="login"
    type="submit"
  >
    Login
  </button>
  <button type="submit" id="google">Login with Google</button>
</form>
