.header {
  display: flex;
  flex-direction: row;
  /* float: right; */
  margin: 10px;
  align-items: center;
}

.title {
  margin: 0px;
  /* float: left; */
}

.button-group {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* button + button {
  margin-left: 10px;
} */

:host {
  background-color: lightblue;
}

.home-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

:not(.lang-group) > .nav-link {
  background: none;
  border: none;
}

.nav-link {
  &:hover {
    cursor: pointer;
  }
}

.bell-unread {
  width: 5px;
  height: 5px;
  border-radius: 50%; /* Makes it round */
  background-color: #007bff; /* Your desired color */
  /* Optional: Center content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
}
