.header {
  display: flex;
  flex-direction: row;
  /* float: right; */
  margin: 10px;
}

.title {
  margin: 0px;
  /* float: left; */
}

.button-group {
  margin-left: auto;
}

button + button {
  margin-left: 10px;
}

:host {
  background-color: lightblue;
}

.menu-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.nav-link {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
