<div class="header">
  @if (isLoggedIn()) {
  <button class="nav-link" routerLink="/">
    <img class="home-icon" src="home.png" />
  </button>
  <h3 i18n class="title nav-link" routerLink="/">Online Bookstore</h3>
  <div class="lang-group button-group">
    <span class="nav-link fi fi-bg" (click)="switchLanguage('bg')"> </span>
    <span class="nav-link fi fi-gb" (click)="switchLanguage('en')"> </span>
  </div>
  <div class="button-group">
    <button (click)="openDialog()">
      @if (hasNewNotifications() ) {
      <div class="bell-unread"></div>
      }
      <img class="bell-icon" src="bell.png" />
    </button>
    <button routerLink="/profile" i18n>Profile</button>
    <button routerLink="/logout" i18n>Logout</button>
  </div>
  } @else {
  <div class="lang-group button-group">
    <span class="nav-link fi fi-bg" (click)="switchLanguage('bg')"> </span>
    <span class="nav-link fi fi-gb" (click)="switchLanguage('en')"> </span>
  </div>
  <div class="button-group">
    <button routerLink="/login" i18n>Login</button>
    <button routerLink="/register" i18n>Register</button>
  </div>
  }
</div>
