<div class="header">
  @if (isLoggedIn()) {
  <button class="nav-link" routerLink="/">
    <img class="menu-icon" src="menu-icon.png" />
  </button>
  <h3 class="title">Vasil Zorev's Online Bookstore</h3>
  <div class="button-group">
    <button routerLink="/profile">Profile</button>
    <button (click)="logout()">Logout</button>
  </div>
  } @else {
  <div class="button-group">
    <button routerLink="/login">Login</button>
    <button routerLink="/register">Register</button>
  </div>
  }
</div>
