<!--
    First build the app, using ng build --localize
    Then, deploy the localized app bundles to an Apache server, by including
    the below configuration to the Apache httpd.conf file.
-->
<VirtualHost *:80>
    ServerName localhost
    DocumentRoot /Dev/angular/bookstore/dist/bookstore
    <Directory "/Dev/angular/bookstore/dist/bookstore">
        # Enable rewrite engine for URL manipulation
		RewriteEngine on
		RewriteBase /
	
		# Serve 'index.html' for root-level access
		RewriteRule ^../index\.html$ - [L]
	
		# If the requested file or directory does not exist, redirect to 'index.html'
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule (..) $1/index.html [L]
	
		# Language-based redirection based on HTTP Accept-Language header
		# Redirect Bulgarian users to the '/bg/' directory
		RewriteCond %{HTTP:Accept-Language} ^bg [NC]
		RewriteRule ^$ /bg/ [R]
	
		# Redirect English-speaking users to the '/en/' directory
		RewriteCond %{HTTP:Accept-Language} ^en [NC]
		RewriteRule ^$ /en/ [R]
		
		
		Options Indexes FollowSymLinks

		#
		# AllowOverride controls what directives may be placed in .htaccess files.
		# It can be "All", "None", or any combination of the keywords:
		#   AllowOverride FileInfo AuthConfig Limit
		#
		AllowOverride None

		#
		# Controls who can get stuff from this server.
		#
		Require all granted
    </Directory>
</VirtualHost>