:host {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 5px;
  column-gap: 10px;
}

.rating {
  margin-left: 50px;
}

.details-button {
  margin-left: 10px;
}

.favorite-icon {
  cursor: pointer;
  vertical-align: middle;
}

/* .highlight {
  background-color: orange;
} */
