<div class="main-section">
  <div class="title-section">
    <div
      class="title"
      [innerHTML]="book().name | highlightSearch : searchTerm()"
    ></div>
    <span i18n> by </span>
    <a [routerLink]="['/authors', book().authorId]">{{ authorName() }}</a>
    @if (isLoggedIn) { @if (isFavorite) {
    <div
      class="favorite-icon"
      (click)="toggleFavorite()"
      title="Remove from favorites"
    >
      &#9733;
    </div>
    } @else {
    <div
      class="favorite-icon"
      (click)="toggleFavorite()"
      title="Add to favorites"
    >
      &#9734;
    </div>
    } }
  </div>

  <div class="rating">
    @if (reviews().length === 0) { <span i18n>No reviews yet</span> } @else {
    {{ reviews() | averageRating }} <span i18n>of</span> 5,
    {{ reviews().length }} <span i18n>votes</span> }
  </div>
  @if (isAdmin) {
  <button i18n class="edit-button" [routerLink]="'' + book().id + '/edit'">
    Edit
  </button>
  <dialog #confirmDeletionDialog>
    <span i18n>Are you sure you want to delete this book?</span>
    <button i18n (click)="deleteBook()">OK</button>
    <button i18n (click)="confirmDeletionDialog.close()">Cancel</button>
  </dialog>
  <button i18n class="delete-button" (click)="onDelete()">Delete</button>
  } @else {
  <button i18n class="details-button" [routerLink]="'' + book().id">
    Details
  </button>
  }
</div>
<div
  class="synopsis-section"
  [innerHTML]="book().synopsis! | highlightSearch : searchTerm()"
></div>
