<form #form="ngForm" (ngSubmit)="editBook(form)">
  <label i18n for="image">Image:</label><br />
  <img
    src="{{ book().imageUrl }}"
    onerror="this.src='no-image-available.png';"
  /><br />
  @if (book().imageUrl) {
  <button i18n (click)="removeImage()" type="button">Remove</button>
  } @else {
  <input name="image" type="file" (change)="uploadImage(form, $event)" />
  }
  <br />
  <label i18n for="name">Name:</label><br />
  <input
    type="text"
    id="name"
    name="name"
    #inputName="ngModel"
    [ngModel]="book().name"
    required
  />
  @if (inputName?.touched) { @if (inputName?.errors?.['required']) {
  <p i18n class="input-error">Book name is required.</p>
  } }
  <br />
  <label i18n for="author">Author:</label><br />
  <input
    type="text"
    id="author"
    name="author"
    #inputAuthor="ngModel"
    [ngModel]="author()?.name"
    disabled
  />
  @if (inputAuthor?.touched) { @if (inputAuthor?.errors?.['required']) {
  <p i18n class="input-error">Author is required.</p>
  } }
  <br />
  <label i18n for="publish_date">Publish date:</label><br />
  <input
    type="date"
    id="publish_date"
    name="publish_date"
    #inputPublishDate="ngModel"
    [ngModel]="book().publishDate"
    required
  />
  @if (inputPublishDate?.touched) { @if (inputPublishDate?.errors?.['required'])
  {
  <p i18n class="input-error">Publish date is required.</p>
  } }
  <br />
  <label i18n for="pages">Pages:</label><br />
  <input
    type="number"
    id="pages"
    name="pages"
    min="1"
    #inputPages="ngModel"
    [ngModel]="book().pagesCount"
    required
  />
  @if (inputPages?.touched) { @if (inputPages?.errors?.['required']) {
  <p i18n class="input-error">Pages count is required.</p>
  } @if (inputPages?.errors?.['min']) {
  <p i18n class="input-error">Pages count must be at least 1.</p>
  } }
  <br />
  <label i18n for="synopsis">Synopsis:</label><br />
  <textarea
    type="text"
    id="synopsis"
    name="synopsis"
    placeholder="Describe the book here..."
    #inputSynopsis="ngModel"
    rows="5"
    minlength="20"
    [ngModel]="book().synopsis"
  ></textarea>
  @if (inputSynopsis?.touched) { @if (inputSynopsis?.errors?.['minlength']) {
  <p i18n class="input-error">Synopsis must be at least 20 characters long.</p>
  } }
  <br /><br />

  <button i18n class="cancel" type="button" (click)="onCancel($event)">
    Cancel
  </button>
  <button
    i18n
    type="submit"
    [disabled]="form.invalid"
    [style]="{
      backgroundColor: form.invalid
        ? 'var(--button-disabled-color)'
        : 'var(--button-active-color)'
    }"
  >
    Save
  </button>
</form>
