<form #form="ngForm" (ngSubmit)="addAuthor(form)">
  <label i18n for="name">Name:</label><br />
  <input
    type="text"
    id="name"
    name="name"
    placeholder="John Doe"
    #inputName="ngModel"
    ngModel
    required
  />
  @if (inputName?.touched) { @if (inputName?.errors?.['required']) {
  <p i18n class="input-error">Author name is required.</p>
  } }
  <br />
  <label i18n for="birth_date">Birth date:</label><br />
  <input
    type="date"
    id="birth_date"
    name="birth_date"
    #inputBirthDate="ngModel"
    ngModel
    required
  />
  @if (inputBirthDate?.touched) { @if (inputBirthDate?.errors?.['required']) {
  <p i18n class="input-error">Birth date is required.</p>
  } }
  <br />
  <label i18n for="country">Country:</label><br />
  <input
    type="text"
    id="country"
    name="country"
    placeholder="Argentina"
    #inputCountry="ngModel"
    ngModel
    required
  />
  @if (inputCountry?.touched) { @if (inputCountry?.errors?.['required']) {
  <p i18n class="input-error">Country is required.</p>
  } }
  <br /><br />

  <button i18n class="cancel" type="button" (click)="onCancel($event)">
    Cancel
  </button>
  <button
    i18n
    type="submit"
    [disabled]="form.invalid"
    [style]="{
      backgroundColor: form.invalid
        ? 'var(--button-disabled-color)'
        : 'var(--button-active-color)'
    }"
  >
    Add
  </button>
</form>
