.search-icon {
  width: 12px;
  height: 12px;
}

.search-box {
  justify-self: center;
}

.authors-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* align-items: end;
  white-space: pre; */
}

:host ::ng-deep .highlight {
  background-color: orange;
  font-weight: bold;
}
