<div>{{ review().rating }}: {{ review().text }}</div>
<br />
by <i>{{ user().firstName }} {{ user().lastName }}</i>
{{ review().reviewDate | elapsedTime }}
<br />
<br />
{{ likesCount() }} {{ likesCount() === 1 ? "person" : "people" }} found this
helpful
<br />
@if (isLoggedIn && review().userid !== this.authenticationService.user!.uid) {
Was this review helpful?
<button
  (click)="isLikedByCurrentUser ? dislikeReview() : likeReview()"
  [style]="{ backgroundColor: isLikedByCurrentUser ? '#234465' : '' }"
>
  Yes
</button>
}
