@if (isLoading()) {
<app-loader />
} @else {
<div class="book-details">
  <div class="book-info">
    <img
      src="{{ book().imageUrl }}"
      onerror="this.src='no-image-available.png';"
    />
    <h3>{{ book().name }}</h3>
    <span i18n>by</span>
    <a [routerLink]="['/authors', book().authorId]">{{ authorName() }}</a>
    <p></p>
    <span i18n>Number of pages:</span>
    {{ book().pagesCount }}
    <br />
    <span i18n>Published at: </span
    >{{ book().publishDate | date : "dd.MM.yyyy" }}
    <p></p>
  </div>
  <div class="book-description">
    <h4 i18n>Synopsis</h4>
    <p>{{ book().synopsis }}</p>
  </div>
</div>
<button i18n class="back-button" routerLink="/books">Back to overview</button>

@if (isLoggedIn()) { @if (hasReviewedBook()) {
<app-edit-review [bookId]="book().id" /> } @else {
<app-add-review [bookId]="book().id" /> } }
<app-reviews-list />
}
