:host {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.book-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.book-info {
  min-width: 600px;
}

.book-info,
.book-description {
  flex-grow: 1;
}

.book-cover {
  max-width: 200px;
}

.back-button {
  align-self: center;
}
