@if (isLoading) {
<app-loader />
} @else {
<div>
  <img src="not-found.png" onerror="this.src='no-image-available.png';" />
  <h3>{{ book.name }}</h3>
  by {{ book.author }}
  <p></p>
  <div>Number of pages: {{ book.pagesCount }}</div>
  <br />
  <div>Published at: {{ book.publishDate | date : "dd.MM.yyyy" }}</div>
  <p></p>
  <h4>Synopsis</h4>
  <div>{{ book.synopsis }}</div>
</div>
<button class="back-button" routerLink="/books">Back to overview</button>

@if (isLoggedIn()) { @if (hasReviewedBook()) {
<app-edit-review [bookId]="book.id" /> } @else {
<app-add-review [bookId]="book.id" /> } }
<app-reviews-list />
}
