<form [formGroup]="form" (ngSubmit)="register()">
  <label i18n for="username">Username:</label><br />
  <input type="text" id="username" name="username" formControlName="username" />
  @if (form.get('username')?.touched) {
  <div>
    @if (form.get('username')?.errors?.['required']) {
    <p i18n class="input-error">Username is required.</p>
    }
  </div>
  }
  <br />
  <label i18n for="email">Email:</label><br />
  <input type="email" id="email" name="email" formControlName="email" />
  @if (form.get('email')?.touched) {
  <div>
    @if (form.get('email')?.errors?.['required']) {
    <p i18n class="input-error">Email is required.</p>
    }
  </div>
  }
  <br />
  <label i18n for="firstName">First name:</label><br />
  <input
    type="text"
    id="firstName"
    name="firstName"
    placeholder="John"
    formControlName="firstName"
  />
  <br />
  <label i18n for="lastName">Last name:</label><br />
  <input
    type="text"
    id="lastName"
    name="lastName"
    placeholder="Doe"
    formControlName="lastName"
  />
  <br />
  <div formGroupName="passGroup">
    <label i18n for="password">Password:</label><br />
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
    />
    @if (passGroup?.get('password')?.touched) {
    <div>
      @if (passGroup?.get('password')?.errors?.['required']) {
      <p i18n class="input-error">Password is required.</p>
      }
    </div>
    } @if (passGroup?.get('password')?.touched) {
    <div>
      @if (passGroup?.get('password')?.errors?.['minlength']) {
      <p i18n class="input-error">
        Password must be at least 6 characters long.
      </p>
      }
    </div>
    }
    <br />
    <label i18n for="repeatPassword">Repeat password:</label><br />
    <input
      type="password"
      id="repeatPassword"
      name="repeatPassword"
      formControlName="repeatPassword"
    />
    @if (passGroup?.get('repeatPassword')?.touched) {
    <div>
      @if (passGroup?.errors?.['passwordsDoNotMatch']) {
      <p i18n class="input-error">Passwords do not match.</p>
      }
    </div>
    }
  </div>
  <br /><br />

  <button i18n class="cancel" type="button" routerLink="/home">Cancel</button>
  <button
    i18n
    type="submit"
    [disabled]="form.invalid"
    [style]="{
      backgroundColor: form.invalid
        ? 'var(--button-disabled-color)'
        : 'var(--button-active-color)'
    }"
  >
    Add
  </button>
</form>
