<form #form="ngForm" (ngSubmit)="editProfile(form)">
  <label i18n for="firstName">First name:</label><br />
  <input
    type="text"
    id="firstName"
    name="firstName"
    #inputFirstName="ngModel"
    [(ngModel)]="firstName"
  />
  <br />
  <label i18n for="lastName">Last name:</label><br />
  <input
    type="text"
    id="lastName"
    name="lastName"
    #inputLastName="ngModel"
    [(ngModel)]="lastName"
  />
  <br />
  <label i18n for="pageSize">Page size:</label><br />
  <input
    type="number"
    id="pageSize"
    name="pageSize"
    #inputPageSize="ngModel"
    [(ngModel)]="pageSize"
  />
  <br />
  <label i18n>Subscribe to:</label><br />
  <label i18n for="newBooks">New books</label>
  <input
    type="checkbox"
    id="newBooks"
    name="subscribeNewBooks"
    #inputNewBooks="ngModel"
    [(ngModel)]="subscribeNewBooks"
  />
  <br />
  <label i18n for="editBooks">Edited books</label>
  <input
    type="checkbox"
    id="editBooks"
    name="subscribeEditBooks"
    #inputEditBooks="ngModel"
    [(ngModel)]="subscribeEditBooks"
  />
  <br />
  <label i18n for="deleteBooks">Deleted books</label>
  <input
    type="checkbox"
    id="deleteBooks"
    name="subscribeDeleteBooks"
    #inputDeleteBooks="ngModel"
    [(ngModel)]="subscribeDeleteBooks"
  />
  <br />
  <label i18n for="newAuthors">New authors</label>
  <input
    type="checkbox"
    id="newAuthors"
    name="subscribeNewAuthors"
    #inputNewAuthors="ngModel"
    [(ngModel)]="subscribeNewAuthors"
  />
  <br />
  <label i18n for="newReviews">New reviews</label>
  <input
    type="checkbox"
    id="newReviews"
    name="subscribeNewReviews"
    #inputNewReviews="ngModel"
    [(ngModel)]="subscribeNewReviews"
  />

  <br />
  <br />
  <div class="actions">
    <button i18n class="cancel" type="button" (click)="onCancel($event)">
      Cancel
    </button>
    <button
      i18n
      [style]="{ backgroundColor: 'var(--button-active-color)' }"
      type="submit"
    >
      Save
    </button>
  </div>
</form>

<br />
<br />

<span i18n>Favorite books:</span>
<br />
@if (favoriteBooks.length === 0) { <span i18n>No favorite books yet</span> }
@else {@for (book of favoriteBooks; track book.id) { {{ book.name }} by
{{ bookAuthors.get(book.id) }} <br />
} }

<br />
<br />

<span i18n>Subscribed for books:</span>
<br />
@if (subscribedBooks.length === 0) { <span i18n>No subscribed books yet</span> }
@else {@for (book of subscribedBooks; track book.id) { {{ book.name }} by
{{ bookAuthors.get(book.id) }} <br />
} }
