<form #form="ngForm" (ngSubmit)="addReview(form)">
  <label i18n for="rating">Rating:</label><br />
  <input
    type="number"
    id="rating"
    name="rating"
    min="1"
    max="5"
    #inputRating="ngModel"
    ngModel
    required
  />
  @if (inputRating?.touched) {
  <div>
    @if (inputRating?.errors?.['required']) {
    <p i18n class="input-error">Rating is required.</p>
    } @if (inputRating?.errors?.['min']) {
    <p i18n class="input-error">Rating must be at least 1.</p>
    } @if (inputRating?.errors?.['max']) {
    <p i18n class="input-error">Rating must be at most 5.</p>
    }
  </div>
  }
  <br />
  <label i18n for="text">Text:</label><br />
  <textarea
    type="text"
    id="text"
    name="text"
    placeholder="Describe your review here..."
    #inputText="ngModel"
    rows="5"
    minlength="5"
    ngModel
  ></textarea>
  @if (inputText?.touched) {
  <div>
    @if (inputText?.errors?.['minlength']) {
    <p i18n class="input-error">
      Review text must be at least 5 characters long.
    </p>
    }
  </div>
  }
  <br /><br />

  <!-- <button class="cancel" (click)="onCancel($event)">Cancel</button> -->
  <button
    i18n
    type="submit"
    [disabled]="form.invalid"
    [style]="{
      backgroundColor: form.invalid
        ? 'var(--button-disabled-color)'
        : 'var(--button-active-color)'
    }"
  >
    Add
  </button>
</form>
