<button (click)="download()">
  <img class="file-export-icon" src="file-export.png" />Export to CSV
</button>
<button (click)="csvUpload.click()">
  <img class="file-import-icon" src="upload-file.png" />Import users from CSV
</button>
<table class="users-list">
  <thead>
    <tr>
      <th i18n>First Name</th>
      <th i18n>Last Name</th>
      <th i18n>Username</th>
      <th i18n>Email</th>
      <th i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users(); track user.id) {
    <tr class="row">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td><button i18n (click)="deleteUser(user)">Delete User</button></td>
    </tr>
    }
  </tbody>
</table>
<div>
  <!-- <label for="csvUpload">Upload Users CSV:</label> -->
  <input
    #csvUpload
    class="csv-upload"
    type="file"
    id="csvUpload"
    accept=".csv"
    (change)="onCsvUpload($event)"
  />
</div>
