<table class="users-list">
  <thead>
    <tr>
      <th i18n>First Name</th>
      <th i18n>Last Name</th>
      <th i18n>Username</th>
      <th i18n>Email</th>
      <th i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users(); track user.id) {
    <tr>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td><button i18n (click)="deleteUser(user)">Delete User</button></td>
    </tr>
    }
  </tbody>
</table>
