<!-- TODO consider when the recent books list is loading -->
@if (isLoading()) {
<app-loader />
} @else { @if (isLoggedIn) {
<div class="search-box">
  <input type="text" [(ngModel)]="searchTerm" (keyup)="keyUp($event)" />
  @if (searchActive) {
  <button (click)="resetSearch()">
    <img class="search-icon" src="clear-search-icon.png" />
  </button>
  }
  <button (click)="searchBooks()">
    <img class="search-icon" src="search-icon.png" />
  </button>
</div>
<br /><br />
@if (isAdmin) {
<button i18n routerLink="/books/add">Add book</button>
<br /><br />
} }
<div class="books">
  <div class="books-list">
    @if (isLoggedIn && books().length > 0) {
    <div class="sorting-controls">
      <span i18n>Sort by:</span>
      <select [(ngModel)]="sortBy" (change)="sortBooks()">
        @for (sortByOption of sortByOptions | keyvalue; track $index) {
        <option [value]="sortByOption.key">{{ sortByOption.value }}</option>
        }
      </select>
      <span class="descending-label" i18n>Descending:</span>
      <input
        type="checkbox"
        [(ngModel)]="isDescending"
        (change)="sortBooks()"
      />
    </div>
    <br />
    } @if (books().length === 0) { @if (searchActive) {
    <span i18n>No books found for</span> "{{ searchTerm }}" } @else {
    <span i18n>No books yet</span> }} @else { @for (book of books(); track
    book.id) {
    <!-- {{ book | json }} -->
    <app-book-card
      [book]="book"
      [favoriteBookIds]="favoriteBookIds()"
      [subscribedBookIds]="subscribedBookIds()"
      [searchTerm]="searchTerm"
    />
    }

    <!-- TODO: extract as a separate component  -->
    <!-- <app-books-paging [start]="pagingStart" [count]="pagingCount" /> -->

    <div class="paging">
      <img
        [class]="
          'paging-previous-button' + (pageStart === 0 ? ' disabled' : '')
        "
        [src]="pageStart === 0 ? 'chevron-left-light.png' : 'chevron-left.png'"
        (click)="previousPage()"
      />

      {{ pageStart + 1 }} - {{ pageStart + currentPage }}
      <img
        [class]="
          'paging-next-button' +
          (pageStart + currentPage >= allBooksCount ? ' disabled' : '')
        "
        [src]="
          pageStart + currentPage >= allBooksCount
            ? 'chevron-right-light.png'
            : 'chevron-right.png'
        "
        (click)="nextPage()"
      />
    </div>

    <!---->

    }
  </div>
  <div class="recent-books-list"><app-recent-books-list /></div>
</div>
}
