.search-icon {
  width: 12px;
  height: 12px;
}

.search-box {
  justify-self: center;
}

.books {
  display: flex;
}

.books-list {
  min-width: 600px;
  flex-grow: 1;
}

.recent-books-list {
  margin-left: auto;
  min-width: 300px;
}
