.search-icon {
  width: 12px;
  height: 12px;
}

.search-box {
  justify-self: center;
}

.books {
  display: flex;
}

.books-list {
  /* min-width: 600px; */
  flex-grow: 1;
}

.recent-books-list {
  margin-left: auto;
  /* min-width: 300px; */
}

.paging-previous-button,
.paging-next-button {
  width: 28px;
  cursor: pointer;
}

img.disabled {
  /* filter: grayscale(100%); */
  cursor: default;
}

.sorting-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.descending-label {
  margin-left: 5px;
}

.paging {
  display: flex;
  align-items: center;
  gap: 5px;
}
