@if (isEditMode) {
<form #form="ngForm" (ngSubmit)="editReview(form)">
  <label for="rating">Rating:</label><br />
  <input
    type="number"
    id="rating"
    name="rating"
    [class]="inputRating?.touched && inputRating?.errors?.['required'] ? 'input-error' : ''"
    #inputRating="ngModel"
    [(ngModel)]="rating"
    required
  />
  @if (inputRating?.touched) {
  <div>
    @if (inputRating?.errors?.['required']) {
    <p class="error">Rating is required.</p>
    }
  </div>
  }
  <br />
  <label for="text">Text:</label><br />
  <textarea
    [class]="inputText?.touched && inputText?.errors?.['minlength'] ? 'input-error' : ''"
    #inputText="ngModel"
    [(ngModel)]="text"
    type="text"
    id="text"
    name="text"
    rows="5"
    minlength="20"
  ></textarea>
  <!-- @if (inputText?.touched) {
  <div>
    @if (inputText?.errors?.['minlength']) {
    <p class="error">Review text must be at least 20 characters long.</p>
    }
  </div>
  } -->
  <br /><br />

  <button (click)="onCancel($event)">Cancel</button>
  <button
    [disabled]="form.invalid"
    [style]="{ backgroundColor: form.invalid ? 'grey' : '#234465' }"
  >
    Save
  </button>
</form>

} @else {
<div>Your review: {{ rating }}</div>
<br />
<div>{{ text }}</div>
<button (click)="toggleEditMode()">Edit</button>
}
