@if (isEditMode()) {
<form #form="ngForm" (ngSubmit)="editReview(form)">
  <label i18n for="rating">Rating:</label><br />
  <input
    type="number"
    id="rating"
    name="rating"
    min="1"
    max="5"
    #inputRating="ngModel"
    [(ngModel)]="rating"
    required
  />
  @if (inputRating?.touched) { @if (inputRating?.errors?.['required']) {
  <p i18n class="input-error">Rating is required.</p>
  } @if (inputRating?.errors?.['min']) {
  <p i18n class="input-error">Rating must be at least 1.</p>
  } @if (inputRating?.errors?.['max']) {
  <p i18n class="input-error">Rating must be at most 5.</p>
  } }
  <br />
  <label i18n for="text">Text:</label><br />
  <textarea
    #inputText="ngModel"
    [(ngModel)]="text"
    type="text"
    id="text"
    name="text"
    rows="5"
    minlength="5"
  ></textarea>
  @if (inputText?.touched) { @if (inputText?.errors?.['minlength']) {
  <p i18n class="input-error">
    Review text must be at least 5 characters long.
  </p>
  } }
  <br /><br />

  <button i18n type="button" (click)="onCancel($event, form)">Cancel</button>
  <button
    i18n
    type="submit"
    [disabled]="form.invalid"
    [style]="{
      backgroundColor: form.invalid
        ? 'var(--button-disabled-color)'
        : 'var(--button-active-color)'
    }"
  >
    Save
  </button>
</form>

} @else {
<div><span i18n>Your review:</span> {{ rating }}</div>
<br />
<div>{{ text }}</div>
<div class="actions">
  <button i18n (click)="toggleEditMode()">Edit</button>
  <button i18n (click)="deleteReview()">Delete</button>
</div>
}
