/* You can add global styles to this file, and also import other style files */

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid #e52424;
}

.input-error {
  color: #e52424;
}

:root {
  --button-disabled-color: grey;
  --button-active-color: #234465;
}
